*{padding: 0px;margin: 0px;box-sizing: border-box;}
.container{
	width: 100%;
	height: 100vh;
	border: 1px solid #777;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F1F1F1;
}

.login{
	width: 50%;
	padding: 50px;
	background-color: #fff;
	border-radius: 5px;
}
.alert-info{
	padding: 5px;
	background-color: green;
}
.login_inputs{
	width: 100%;
	padding: 5px;
}

.login_inputs input{
	width: 100%;
	padding: 10px 10px;
}
.login_inputs button{
	padding: 10px 20px;
	background: black;
	color: #fff;
	outline: none;
	border-radius: 5px;
}
.login_inputs span{
	margin-top: 5px;
}
.login_inputs p{
margin-top: 20px;
}
.login h1{
	margin-bottom: 20px;
	border-bottom: 1px solid #000000;
	padding-bottom:2px ;
}
.error{color: red;}