.heading{
	display: flex;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 100%;
}

.heading h1{
	font-size: 25px;
	font-weight: 700;	
}

.heading a{
	margin-left: 30px;
	border: 1px solid #777;
	padding: 5px;
	border-radius: 5px;
	color: #fff;
	background-color: #777;
	text-decoration: none;
}
.event_form{
	width: 50%;
	border: 1px solid #777;
	padding: 20px;
}

.input_fields{
	margin-top: 10px;
}
.input_fields input,select{
	width: 100%;
	padding: 10px 10px;

}
.event_form h5{
	font-size: 15px;
	font-weight: 800;
}
.input_fields button{
	padding: 10px 15px;
	background-color: #777;
	color: #fff;
	border-radius: 5px;
}
.error{
	color: red;
}
.status{
	padding: 10px 20px;
	background-color: green;
	border-radius: 5px;
	color: #ffffff;
}
.statusDel{
	padding: 10px 20px;
	color: #fff;	
	background-color: red;
	border-radius: 5px;
}

.icustom{
	font-size: 20px;
	margin-right: 5px;
	color: green;
}
.del{
	color: red;
}

.radio_btn{
	width: 10px;
}
.status_class{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.status_class input{
	margin-right: 10px;
	margin-left: 10px;
	width: 20px;
	height: 20px;

}

.input_fields_radio{
	margin-top: 10px;
}

.alert-info{
width: 100%;
text-align: center;
background: #4FAB6E;
color: #fff;
padding: 20px;
font-size: 20px;
}